<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dizzy</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Dizzy Ballers Out of Control</h1>
   
        Submit New Death Stats
    <form action="/death-list" method="POST">
        <input type="text" placeholder="playerName" name="playerName">
        <input type="text" placeholder="deathX" name="deathX">
        <input type="text" placeholder="deathY" name="deathY">
        <input type="text" placeholder="sector" name="sector">
        <input type="text" placeholder="deathTime" name="deathTime">
        <button type="submit">Submit</button>
    </form>

    <div>
        <button id="testman-button">Add a testman</button>
    </div>

    <div>
        <button id="update-button">Hasselfy a testman</button>
    </div>

    <div>
        <button id="delete-button">Delete a Hass</button>
    </div>

    <p>
        Deaths
    </p>

    <ul class="deathStats">
        <% for(let i=0; i < deathStats.length; i++) {%>
            <li>
                <span>Name: <%= deathStats[i].playerName %></span>,
                <span>X: <%= deathStats[i].deathX %></span>,
                <span>Y: <%= deathStats[i].deathY %></span>,
                <span>Sector: <%= deathStats[i].sector %></span>,
                <span>Time: <%= deathStats[i].deathTime %></span>
            </li>
        <%} %>
    </ul>

    <div id="message"></div>

    <script src="/main.js"></script>
</body>
</html>